 /* width */
 ::-webkit-scrollbar {
    width: 12px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 rgb(50, 51, 51) ; 

  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(50, 51, 51) ; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(50, 51, 51) ; 
  }
