body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #557b83;
    color: #e5efc1;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
}


.buton{
    padding: 10px;
    background-color:#e5efc1 ;
    color: #557b83;
    border-color: #557b83;
    font-weight: bold;

}